@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin 'tailwind-scrollbar' {
	nocompatible: true;
	preferredStrategy: 'pseudoelements';
}

@theme {
	--color-gray-50: var(--color-zinc-50);
	--color-gray-100: var(--color-zinc-100);
	--color-gray-200: var(--color-zinc-200);
	--color-gray-300: var(--color-zinc-300);
	--color-gray-400: var(--color-zinc-400);
	--color-gray-500: var(--color-zinc-500);
	--color-gray-600: var(--color-zinc-600);
	--color-gray-700: var(--color-zinc-700);
	--color-gray-800: var(--color-zinc-800);
	--color-gray-900: var(--color-zinc-900);
	--color-gray-950: var(--color-zinc-950);
	--color-gray-default: var(--color-zinc-default);
}

@theme {
	--color-primary-50: var(--color-teal-50);
	--color-primary-100: var(--color-teal-100);
	--color-primary-200: var(--color-teal-200);
	--color-primary-300: var(--color-teal-300);
	--color-primary-400: var(--color-teal-400);
	--color-primary-500: var(--color-teal-500);
	--color-primary-600: var(--color-teal-600);
	--color-primary-700: var(--color-teal-700);
	--color-primary-800: var(--color-teal-800);
	--color-primary-900: var(--color-teal-900);
	--color-primary-950: var(--color-teal-950);
	--color-primary-default: var(--color-teal-default);
}

@custom-variant hocus (&:hover, &:focus);

.text-secondary {
	@apply text-gray-500 dark:text-gray-400;
}

.error {
	@apply text-rose-600 dark:text-rose-500;
}

.btn {
	@apply cursor-pointer rounded-md text-sm font-semibold disabled:pointer-events-none disabled:opacity-50;
}

.btn-primary {
	@apply bg-primary-600 text-white shadow-xs hover:bg-primary-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600 dark:bg-primary-500 dark:shadow-none dark:hover:bg-primary-400 dark:focus-visible:outline-primary-500;
}

.btn-ghost {
	@apply bg-transparent text-gray-900 hover:bg-gray-50 hover:ring-1 hover:ring-gray-300 focus:ring-2 focus:ring-gray-400 focus:outline-none dark:text-white dark:hover:bg-gray-800 dark:hover:ring-gray-600;
}

.btn-menu {
	@apply w-full cursor-pointer rounded-none px-3 py-1.5 text-left text-sm font-normal text-gray-700 transition hover:bg-gray-100 focus:outline-hidden dark:text-gray-300 dark:hover:bg-gray-700;
}

.scrollable {
	@apply scrollbar-thin scrollbar-track-transparent scrollbar-thumb-rounded-full;
	@apply scrollbar-thumb-gray-300 scrollbar-hover:scrollbar-thumb-gray-400;
	@apply dark:scrollbar-thumb-gray-600 dark:scrollbar-hover:scrollbar-thumb-gray-500;
}
